<style>
    .panel.panel-default.panel-intro{
        margin-left: -15px;
    }
    .change-input {
        width: 100px;
        text-align: center;
    }

    .commonsearch-table {
        display: none;
    }
    form.form-horizontal .control-label {
        font-weight: normal;
        padding-right: 0;
        padding-left: 0;
    }
    input:read-only{
        background: none!important;
        border: none;
    }
    .datetimepicker{
        border: 1px solid #ccc!important;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="commonsearch-table" style="display: block;">
        <form class="form-horizontal form-commonsearch nice-validator n-default n-bootstrap" novalidate="" method="post"
              action="">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="department.name" class="control-label col-xs-4">
                        领料部门
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" value="{$department_name}" readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="department.name" class="control-label col-xs-4">
                        领料人
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" value="{$apply_name}" readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="department.name" class="control-label col-xs-4">
                        领料时间
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" value="{$createtime}" readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="department.name" class="control-label col-xs-4">
                        状态
                    </label>
                    <div class="col-xs-8">
                        <input id="delivery_status" type="text" class="form-control" value="{$status}" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="/admin.php/stock/deliverygoods/next?delivery_id={$delivery_id}"  id="next" data-area='["100%","100%"]' class="btn btn-success btn-add {:$auth->check('stock/deliverygoods/delivery_edit')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('添加领料商品')}</a>
                        <!--                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('stock/delivery_goods/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>-->
                        <!--                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('stock/delivery_goods/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>-->
                        <!--                        <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('stock/delivery_goods/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>-->

                        <!--                        <div class="dropdown btn-group {:$auth->check('stock/delivery_goods/multi')?'':'hide'}">-->
                        <!--                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>-->
                        <!--                            <ul class="dropdown-menu text-left" role="menu">-->
                        <!--                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>-->
                        <!--                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->


                    </div>

                    <input type="hidden" id="delivery_id" value="{$delivery_id}">
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('stock/delivery_goods/edit')}"
                           data-operate-del="{:$auth->check('stock/delivery_goods/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
